{% extends 'base.html.twig' %}
{% block body %}
{%if(message)%}
    {{message}}
{%endif%}
{%for formation in ensFormation%}
<b>Nombre d'heures : {{formation.nbreHeures}}</b>
<br>
Date de sortie : {{formation.dateDebut|date("d/m/Y")}}
<br>
Departement : {{formation.departement}}
<br>
Ville : {{formation.ville}}<br>
 <a href="{{path('app_supp_formation', {id: formation.id})}}"class="btn btn-primary">Supprimer une formation</a>
  
  <br>
  <br>
   
{%endfor%}
<br>
<br>
<form action= "{{ path('app_formation_ajouter') }} " method= "POST" >

        <button type="submit"  class="btn btn-primary">Ajouter une formation</button>
ggg
 
{% endblock %}
